# ===============================================
# Python / Django
# ===============================================

# Ambiente Virtual
venv/

# Cache do Python
__pycache__/
*.pyc

# Banco de dados local do SQLite
db.sqlite3


.env

# Arquivos estáticos coletados e de mídia do usuário 
/staticfiles/
/media/


# ===============================================
# Frontend / Angular
# ===============================================

# Dependências do Node
/frontend/sistema-web/node_modules/

# Arquivos de build e cache do Angular
/frontend/sistema-web/dist/
/frontend/sistema-web/.angular/

# Relatórios de teste
/frontend/sistema-web/coverage/

# Logs de erro
npm-debug.log
yarn-error.log


# ===============================================
# IDE / Sistema Operacional
# ===============================================

# Configurações do VS Code
.vscode/

# Arquivos do macOS 
.DS_Store

# Cache de imagens do Windows 
Thumbs.db